#contact {
    margin-top: 20%;
    margin-bottom: 10%;
}

.contact-form {
    font-family: Poppins;
}

#contact h1 {
    font-size: 56px;
}

.contact-left {
    background-color: #97A9C9;
}

.contact-right {
    background-color: #2F3B6F;
    font-family: Poppins;
}