#resume {
  margin: 20% 10% 5% 10%;
}

#resume h1 {
  font-size: 50px;
  font-family: Poppins;
  text-align: center;
}

#resume h2 {
  font-size: 30px;
  font-family: Poppins;
  text-align: center;
  margin-top: 3%;
}

#resume img {
  height: 40px;
  width: 70px;
}

.skills-container {
  display: flex;
}

.skills-box {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 120px;
  height: 120px;
  margin-left: 5%;
  margin-right: 5%;
}

.skills-img {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

h6 {
  --s: 25px; /* the size on the corner */
  --t: 3px;  /* the thickness of the border */
  --g: 5px; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid black; 
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: .2s;
}

.skills-box:hover {
  outline-offset: calc(var(--g)/-1);
}

.float {
  width: 50%;
  background-color: #97A9C9;
  border: 1px solid black;
  border-radius: 8px;
  margin: 1%;
}

.float span {
  text-decoration: underline;
  font-size: 24px;
  font-family: Quicksand;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;
}

.skill-text {
  margin-top: 10%;
  font-size: 20px;
}
